<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>

    <!--<add name="IQMediaEntities" connectionString="metadata=res://*/IQMedia.Service.csdl|res://*/IQMedia.Service.ssdl|res://*/IQMedia.Service.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.240,1456\R2;initial catalog=iqmediagroup;user id=IQMediaGroup;password=IMG@123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="IQMediaEntities" connectionString="metadata=res://*/IQMedia.Service.csdl|res://*/IQMedia.Service.ssdl|res://*/IQMedia.Service.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.1.34;user id=IQMediaWeb;password=Web001#;initial catalog=IQMediaGroup;multipleactiveresultsets=True;App=EntityFramework;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>