<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="ArchiveMetaDataUpdateSettings" type="IQMedia.Service.Common.Config.Handlers.XmlConfigurationSectionHandler, IQMedia.Service.Common"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings>
    <add key="SolrNewsUrl" value="http://10.100.1.59:8080/solr/cmo362-2012-1/select/"></add>
    <add key="SolrSMUrl" value="http://10.100.1.59:8080/solr/cmo362-2012-1/select/"/>
    <add key="solrNewsFL" value="iqseqid,content"/>
    <add key="solrSMFL" value="iqseqid,content"/>
    <add key="solrProQuestFL" value="iqseqid,content" />
    <add key="TVContentURL" value="http://qaservices.iqmediacorp.com/svc/cc/getClosedCaption?fid="/>

    <add key="TVExportURL" value="http://qaservices.iqmediacorp.com/svc/clip/exportmediaclip?fid="/>
    <!-- Comma-delimited list of status codes returned by the service that should be counted as successful -->
    <add key="ExportSuccessStatuses" value="0"/>

    <add key="TVThumbGenURL" value="http://qaservices.iqmediacorp.com/svc/clip/generatemediaclipthumbnail?fid="/>
    <!-- Comma-delimited list of status codes returned by the service that should be counted as successful -->
    <add key="TVThumbSuccessStatuses" value="0,1"/>

    <add key="TVIOSExportURL" value="http://qaservices.iqmediacorp.com/iossvc/ClipExport?clipGUID="/>
    <add key="TVIOSExportSuccessMessage" value="Clip Successfully Queued for IOS Export:"/>
    <add key="TVIOSExportAlreadyQueuedMessage" value="Clip Already Queued OR Exported for IOS Export:"/>

    <!-- Used to replace newline characters in LexisNexis content. Case sensitive. -->
    <add key="LexisNexisLineBreakPlaceholder" value="iqcrlf" />

  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <ArchiveMetaDataUpdateSettings type="IQMedia.Service.ArchiveMetaDataUpdate.Config.Sections.ArchiveMetaDataUpdateSettings, IQMedia.Service.ArchiveMetaDataUpdate">

    <!-- The minutes at which new tasks should be retrieved from the database -->
    <PollIntervals>5,10,15,20,25,30,35,40,45,50,55,60</PollIntervals>
    <!-- The number of queued records a single machine will process at one time. -->
    <QueueLimit>1</QueueLimit>
    <!-- The number of tasks to move files. -->
    <NoOfTasks>1</NoOfTasks>
    <!-- Time in milliseconds before a task will timeout. -->
    <MaxTimeOut>600000</MaxTimeOut>
    <!-- WCF Service Port -->
    <WCFServicePort>8241</WCFServicePort>

  </ArchiveMetaDataUpdateSettings>

  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8241/ArchiveMetaDataUpdateWebService" binding="basicHttpBinding"
          contract="IIOSExportWebService" name="BasicHttpBinding_ArchiveMetaDataUpdateWebService" />
    </client>
  </system.serviceModel>

  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - %message%newline" />
      </layout>
    </appender>

    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\ArchiveMetaDataUpdate_service.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="1024KB"/>
      <maxSizeRollBackups value="5"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] %-5level (%logger) - %message%newline"/>
      </layout>

      <!-- File Logging Levels -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <!-- This value should be changed to something like 50 or 100 after moving to production. -->
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Data Source=10.100.1.34;User Id=IQMediaWeb;Password=rCCSearch1;Initial Catalog=IQMediaGroup;MultipleActiveResultSets=True" />
      <commandText value="INSERT INTO IQLog_ExportService ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{system}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>

      <!-- SQL Logging Levels -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <root>
      <level value="ALL"/>
      <appender-ref ref="Console"/>
      <appender-ref ref="RollingFile"/>
      <appender-ref ref="AdoNetAppender"/>
    </root>
  </log4net>

  <connectionStrings>

    <!--<add name="IQMediaEntities" connectionString="metadata=res://*/IQMedia.Service.csdl|res://*/IQMedia.Service.ssdl|res://*/IQMedia.Service.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.240,1456\R2;initial catalog=iqmediagroup;user id=IQMediaGroup;password=IMG@123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SqlServer" connectionString="Data Source=192.168.1.240\r2;User Id=Iqmediagroup;Password=IMG@123;Initial Catalog=IQMediaGroup;MultipleActiveResultSets=True;Connection Timeout=60;"/>-->

    <add name="IQMediaGroupEntities" connectionString="metadata=res://*/IQMedia.csdl|res://*/IQMedia.ssdl|res://*/IQMedia.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.100.1.34;User Id=IQMediaWeb;Password=CCSearch1;Initial Catalog=IQMediaGroup;MultipleActiveResultSets=True;Connection Timeout=60;&quot;" providerName="System.Data.EntityClient"/>
    <add name="SqlServer" connectionString="Data Source=10.100.1.34;User Id=IQMediaWeb;Password=CCSearch1;Initial Catalog=IQMediaGroup;MultipleActiveResultSets=True;Connection Timeout=60;"/>

  </connectionStrings>
</configuration>

